 .u-section-1 {
  background-image: linear-gradient(#0f4762, #cddeee);
}

.u-section-1 .u-sheet-1 {
  min-height: 1998px;
}

.u-section-1 .u-line-1 {
  top: 650px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 128px;
}

.u-section-1 .u-line-2 {
  top: 1006px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 38px;
  left: auto;
  right: 245px;
}

.u-section-1 .u-line-3 {
  top: 967px;
  transform-origin: right center 0px;
  position: absolute;
  left: 345px;
  width: 429px;
}

.u-section-1 .u-line-4 {
  top: 967px;
  transform-origin: center top 0px;
  position: absolute;
  height: 243px;
}

.u-section-1 .u-line-5 {
  top: 1003px;
  transform-origin: center top 0px;
  position: absolute;
  height: 41px;
  left: 229px;
}

.u-section-1 .u-line-6 {
  top: 1387px;
  transform-origin: center top 0px;
  position: absolute;
  height: 50px;
  left: 169px;
}

.u-section-1 .u-line-7 {
  top: 1385px;
  transform-origin: center top 0px;
  position: absolute;
  height: 50px;
  left: auto;
  right: 164px;
}

.u-section-1 .u-line-8 {
  top: 1385px;
  transform-origin: center top 0px;
  position: absolute;
  height: 50px;
  left: auto;
  right: 429px;
}

.u-section-1 .u-line-9 {
  top: 1387px;
  transform-origin: center top 0px;
  position: absolute;
  height: 50px;
  left: 439px;
}

.u-section-1 .u-line-10 {
  top: 1766px;
  transform-origin: center top 0px;
  position: absolute;
  height: 41px;
  left: 306px;
}

.u-section-1 .u-text-1 {
  margin: 43px auto 0 411px;
}

.u-section-1 .u-image-1 {
  width: 101px;
  height: 101px;
  margin: 11px auto 0 509px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 17px 52px 0;
}

.u-section-1 .u-image-2 {
  width: 62px;
  height: 62px;
  margin: 92px auto 0;
}

.u-section-1 .u-group-1 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  width: 61px;
  height: 61px;
  margin: -29px 218px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 7px 131px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  width: 61px;
  height: 61px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-3 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  width: 61px;
  height: 61px;
  margin: -53px 218px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 61px;
  height: 61px;
  margin: -61px auto 0 198px;
}

.u-section-1 .u-group-4 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 8px auto 0 112px;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-group-5 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -72px 131px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-image-7 {
  width: 61px;
  height: 61px;
  margin: 37px 216px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 61px;
  height: 61px;
  margin: -63px auto 0 198px;
}

.u-section-1 .u-group-6 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 8px auto 0 112px;
}

.u-section-1 .u-container-layout-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-group-7 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -72px 130px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-image-9 {
  width: 61px;
  height: 61px;
  margin: 58px auto 0 139px;
}

.u-section-1 .u-image-10 {
  width: 61px;
  height: 61px;
  margin: -63px auto 0 409px;
}

.u-section-1 .u-image-11 {
  width: 61px;
  height: 61px;
  margin: -64px 402px 0 auto;
}

.u-section-1 .u-image-12 {
  width: 61px;
  height: 61px;
  margin: -61px 136px 0 auto;
}

.u-section-1 .u-group-8 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 13px auto 0 52px;
}

.u-section-1 .u-container-layout-8 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-group-9 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -76px auto 0 322px;
}

.u-section-1 .u-container-layout-9 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-11 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-group-10 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -76px 315px 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-group-11 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -73px 52px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-13 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-image-13 {
  width: 61px;
  height: 61px;
  margin: 52px auto 0 409px;
}

.u-section-1 .u-image-14 {
  width: 61px;
  height: 61px;
  margin: -61px 132px 0 auto;
}

.u-section-1 .u-image-15 {
  width: 61px;
  height: 61px;
  margin: -59px 402px 0 auto;
}

.u-section-1 .u-image-16 {
  width: 61px;
  height: 61px;
  margin: -63px auto 0 139px;
}

.u-section-1 .u-group-12 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 9px auto 0 322px;
}

.u-section-1 .u-container-layout-12 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-group-13 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -74px 315px 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-15 {
  font-size: 0.625rem;
  margin: 11px auto 0;
}

.u-section-1 .u-group-14 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -74px 52px 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-16 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-group-15 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -74px auto 0 52px;
}

.u-section-1 .u-container-layout-15 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-17 {
  font-size: 0.625rem;
  margin: 13px 9px 0 auto;
}

.u-section-1 .u-image-17 {
  width: 61px;
  height: 61px;
  margin: 43px auto 0 276px;
}

.u-section-1 .u-image-18 {
  width: 61px;
  height: 61px;
  margin: -61px 402px 0 auto;
}

.u-section-1 .u-image-19 {
  width: 61px;
  height: 61px;
  margin: -61px 126px 0 auto;
}

.u-section-1 .u-group-16 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 9px auto 0 189px;
}

.u-section-1 .u-container-layout-16 {
  padding-right: 29px;
  padding-left: 29px;
}

.u-section-1 .u-text-18 {
  font-size: 0.625rem;
  margin: 0;
}

.u-section-1 .u-group-17 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -70px 315px 0 auto;
}

.u-section-1 .u-container-layout-17 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-19 {
  font-size: 0.625rem;
  margin: 11px auto 0;
}

.u-section-1 .u-group-18 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: -78px 39px 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-20 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-image-20 {
  width: 61px;
  height: 61px;
  margin: 43px auto 0 276px;
}

.u-section-1 .u-group-19 {
  width: 234px;
  min-height: 74px;
  height: auto;
  margin: 8px auto 43px 189px;
}

.u-section-1 .u-container-layout-19 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-21 {
  font-size: 0.625rem;
  margin: 0 auto;
}

.u-section-1 .u-line-11 {
  top: 1582px;
  transform-origin: center top 0px;
  position: absolute;
  height: 41px;
  left: auto;
  right: 430px;
}

.u-section-1 .u-line-12 {
  top: 1212px;
  transform-origin: right center 0px;
  position: absolute;
  width: 804px;
  left: auto;
  right: 164px;
}

.u-section-1 .u-line-13 {
  top: 1212px;
  transform-origin: center top 0px;
  position: absolute;
  height: 29px;
  left: 169px;
}

.u-section-1 .u-line-14 {
  top: 1212px;
  transform-origin: center top 0px;
  position: absolute;
  height: 29px;
  left: auto;
  right: 162px;
}

.u-section-1 .u-line-15 {
  top: 1215px;
  transform-origin: center top 0px;
  position: absolute;
  height: 29px;
  left: auto;
  right: 430px;
}

.u-section-1 .u-line-16 {
  top: 1212px;
  transform-origin: center top 0px;
  position: absolute;
  height: 29px;
  left: 439px;
}

.u-section-1 .u-line-17 {
  top: 722px;
  position: absolute;
  left: auto;
  width: 204px;
  transform-origin: right center 0px;
  right: 366px;
  border-style: dotted;
}

.u-section-1 .u-line-18 {
  top: 915px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 55px;
}

.u-section-1 .u-line-19 {
  top: 703px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 40px;
  left: auto;
  right: 92px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-2 {
    top: 1178px;
    right: 353px;
  }

  .u-section-1 .u-line-3 {
    top: 942px;
    transform-origin: left center 0px;
    width: 440px;
    left: auto;
    right: 244px;
  }

  .u-section-1 .u-line-4 {
    top: 944px;
  }

  .u-section-1 .u-line-5 {
    top: 1181px;
    left: 374px;
  }

  .u-section-1 .u-line-6 {
    top: 1358px;
    left: 156px;
  }

  .u-section-1 .u-line-7 {
    top: 975px;
    height: 31px;
    left: 158px;
    transform: rotate(360deg);
  }

  .u-section-1 .u-line-8 {
    top: 1358px;
    right: 356px;
  }

  .u-section-1 .u-line-9 {
    top: 1358px;
    left: 374px;
  }

  .u-section-1 .u-line-10 {
    top: 1735px;
    left: 263px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 339px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 202px;
    min-height: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -33px;
    margin-right: 135px;
  }

  .u-section-1 .u-group-2 {
    width: 202px;
    min-height: 60px;
    margin-top: 8px;
    margin-right: 63px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 13px;
  }

  .u-section-1 .u-group-3 {
    width: 202px;
    min-height: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -58px;
    margin-right: 111px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -53px;
    margin-left: 126px;
  }

  .u-section-1 .u-group-4 {
    width: 202px;
    min-height: 60px;
    margin-top: 6px;
    margin-left: 56px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-5 {
    width: 202px;
    min-height: 60px;
    margin-top: -60px;
    margin-right: 40px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-7 {
    margin-top: 22px;
    margin-right: 104px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -61px;
    margin-left: 126px;
  }

  .u-section-1 .u-group-6 {
    width: 202px;
    min-height: 68px;
    margin-left: 55px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-7 {
    width: 202px;
    min-height: 60px;
    margin-top: -64px;
    margin-right: 40px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-9 {
    margin-top: 98px;
    margin-left: 126px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -61px;
    margin-left: 339px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -61px;
    margin-right: 326px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 111px;
  }

  .u-section-1 .u-group-8 {
    width: 203px;
    min-height: 60px;
    margin-top: 7px;
    margin-left: 55px;
    height: auto;
  }

  .u-section-1 .u-group-9 {
    width: 202px;
    min-height: 60px;
    margin-top: -59px;
    margin-left: 268px;
    height: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-10 {
    width: 201px;
    min-height: 62px;
    margin-top: -61px;
    margin-right: 256px;
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-group-11 {
    width: 202px;
    min-height: 60px;
    margin-top: -62px;
    margin-right: 40px;
    height: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-13 {
    margin-top: 60px;
    margin-left: 344px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 111px;
  }

  .u-section-1 .u-image-15 {
    margin-top: -58px;
    margin-right: 329px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -64px;
    margin-left: 126px;
  }

  .u-section-1 .u-group-12 {
    width: 202px;
    min-height: 60px;
    margin-top: 12px;
    margin-left: 268px;
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-13 {
    width: 194px;
    min-height: 68px;
    margin-top: -60px;
    margin-right: 260px;
    height: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 0;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-group-14 {
    width: 202px;
    min-height: 60px;
    margin-top: -64px;
    margin-right: 40px;
    height: auto;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-15 {
    width: 192px;
    margin-top: -67px;
    margin-left: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-15 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-image-17 {
    margin-top: 37px;
    margin-left: 234px;
  }

  .u-section-1 .u-image-18 {
    margin-right: 329px;
  }

  .u-section-1 .u-image-19 {
    margin-right: 111px;
  }

  .u-section-1 .u-group-16 {
    width: 220px;
    min-height: 68px;
    margin-top: 12px;
    margin-left: 154px;
    height: auto;
  }

  .u-section-1 .u-group-17 {
    width: 218px;
    min-height: 79px;
    margin-top: -66px;
    margin-right: 252px;
    height: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-18 {
    width: 202px;
    min-height: 60px;
    margin-top: -76px;
    margin-right: 34px;
    height: auto;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-20 {
    margin-top: 48px;
    margin-left: 233px;
  }

  .u-section-1 .u-group-19 {
    width: 224px;
    min-height: 68px;
    margin-top: 18px;
    margin-bottom: 60px;
    margin-left: 152px;
    height: auto;
  }

  .u-section-1 .u-line-11 {
    top: 1367px;
    right: 138px;
  }

  .u-section-1 .u-line-12 {
    top: 1181px;
    transform-origin: left center 0px;
    width: 639px;
    right: 145px;
  }

  .u-section-1 .u-line-13 {
    margin-top: 20px;
  }

  .u-section-1 .u-line-14 {
    top: 1179px;
    height: 49px;
    right: 142px;
  }

  .u-section-1 .u-line-15 {
    top: 1561px;
    right: 355px;
  }

  .u-section-1 .u-line-16 {
    top: 1181px;
    left: 156px;
  }

  .u-section-1 .u-line-17 {
    top: 727px;
    right: 266px;
  }

  .u-section-1 .u-line-18 {
    top: 896px;
  }

  .u-section-1 .u-line-19 {
    top: 974px;
    right: 135px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2249px;
  }

  .u-section-1 .u-line-3 {
    left: 345px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-line-7 {
    right: 415px;
  }

  .u-section-1 .u-line-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-10 {
    margin-top: -226px;
    margin-right: 54px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-11 {
    margin-top: 103px;
  }

  .u-section-1 .u-group-13 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-right: 29px;
    padding-left: 29px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-line-11 {
    right: 430px;
  }

  .u-section-1 .u-line-12 {
    right: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2301px;
  }

  .u-section-1 .u-line-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-line-12 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-3 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 279px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -61px;
    margin-right: 279px;
  }

  .u-section-1 .u-group-9 {
    margin-left: 138px;
  }

  .u-section-1 .u-image-13 {
    margin-left: 279px;
  }

  .u-section-1 .u-image-15 {
    margin-right: 279px;
  }

  .u-section-1 .u-group-12 {
    margin-left: 138px;
  }

  .u-section-1 .u-group-13 {
    margin-right: 146px;
  }

  .u-section-1 .u-group-14 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-18 {
    margin-top: 20px;
    margin-right: 279px;
  }

  .u-section-1 .u-group-16 {
    margin-left: 120px;
  }

  .u-section-1 .u-group-17 {
    margin-right: 122px;
  }

  .u-section-1 .u-group-18 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-19 {
    margin-left: 116px;
  }

  .u-section-1 .u-line-12 {
    width: 340px;
  }
}