 .u-section-1 {
  background-image: linear-gradient(#0f4762, #cddeee);
  min-height: 50vw;
}

.u-section-1 .u-video-1 {
  height: 423px;
  width: 776px;
  margin: 130px auto 0 calc(((100% - 1140px) / 2) + 54px);
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1;
  margin: -337px calc(((100% - 1140px) / 2) + -17px) 0 calc(((100% - 1140px) / 2) + 818px);
}

.u-section-1 .u-image-1 {
  width: 169px;
  height: 85px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 3px;
  --animation-custom_in-translate_y: 0px;
  margin: 56px calc(((100% - 1140px) / 2) + 68px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    height: 334px;
    width: 690px;
    margin-top: 175px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -260px;
    margin-right: calc(((100% - 940px) / 2) + -22px);
    margin-left: calc(((100% - 940px) / 2) + 723px);
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-opacity: 0.85;
    --animation-custom_in-rotate: 0deg;
    animation-duration: 10000ms;
    margin-top: 41px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    margin-top: 250px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 246px;
    margin: -448px auto 60px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -114px;
    margin-right: calc(((100% - 720px) / 2) + 75px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-video-1 {
    height: 261px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -375px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 75px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 438px;
  }

  .u-section-1 .u-video-1 {
    height: 164px;
    width: 340px;
    margin-top: 210px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -286px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + 75px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 405px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-2 .u-list-1 {
  width: 924px;
  margin: 40px 101px 26px auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 237px;
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-icon-1 {
  width: 134px;
  height: 134px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: 9px 27px 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 9px 16px 0 36px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-icon-2 {
  width: 134px;
  height: 134px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: 9px 27px 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 9px 16px 0 36px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-icon-3 {
  width: 134px;
  height: 134px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: 9px 27px 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 9px 16px 0 36px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-2 .u-icon-4 {
  width: 134px;
  height: 134px;
  background-image: none;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  color: rgb(255, 255, 255) !important;
  margin: 9px 27px 0 auto;
  padding: 21px;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 9px 16px 0 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-icon-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-2 {
    width: 142px;
  }

  .u-section-2 .u-icon-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-3 {
    width: 142px;
  }

  .u-section-2 .u-icon-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-4 {
    width: 142px;
  }

  .u-section-2 .u-icon-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-5 {
    width: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 419px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-2 .u-icon-1 {
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 359px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 19px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 725px;
  font-size: 1rem;
  margin: 66px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 492px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 324px;
  margin: 38px auto 0;
}

.u-section-4 .u-group-1 {
  background-image: none;
  width: 192px;
  min-height: 304px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 49px;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 3px;
}

.u-section-4 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 35px 18px 0;
}

.u-section-4 .u-icon-1 {
  width: 112px;
  height: 112px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 34px auto 0;
  padding: 23px;
}

.u-section-4 .u-group-3 {
  background-image: none;
  width: 192px;
  min-height: 303px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -305px auto 0 260px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-icon-2 {
  width: 111px;
  height: 111px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

.u-section-4 .u-group-5 {
  background-image: none;
  width: 192px;
  min-height: 303px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -303px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-group-6 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 18px;
}

.u-section-4 .u-icon-3 {
  width: 111px;
  height: 111px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

.u-section-4 .u-group-7 {
  background-image: none;
  width: 192px;
  min-height: 302px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -302px 264px 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-group-8 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 18px;
}

.u-section-4 .u-icon-4 {
  width: 111px;
  height: 111px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

.u-section-4 .u-group-9 {
  background-image: none;
  width: 192px;
  min-height: 303px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: -303px 50px 60px auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-group-10 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 115px;
  height: auto;
}

.u-section-4 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 18px 0;
}

.u-section-4 .u-icon-5 {
  width: 111px;
  height: 111px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 125px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: -303px;
    margin-left: 353px;
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-group-5 {
    margin-top: -304px;
    margin-right: 167px;
    height: auto;
  }

  .u-section-4 .u-group-6 {
    height: auto;
  }

  .u-section-4 .u-group-7 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 242px;
    height: auto;
  }

  .u-section-4 .u-group-8 {
    height: auto;
  }

  .u-section-4 .u-group-9 {
    margin-top: -302px;
    margin-right: 278px;
    margin-bottom: 37px;
    height: auto;
  }

  .u-section-4 .u-group-10 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-top: 48px;
    margin-left: 51px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -304px;
    margin-right: 249px;
    margin-left: auto;
  }

  .u-section-4 .u-group-5 {
    margin-top: -303px;
    margin-right: 21px;
  }

  .u-section-4 .u-group-7 {
    margin-top: 33px;
    margin-left: 157px;
  }

  .u-section-4 .u-group-9 {
    margin-top: -303px;
    margin-right: 143px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1736px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-4 .u-group-5 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-4 .u-group-7 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-4 .u-group-9 {
    margin-top: 22px;
    margin-right: auto;
    margin-bottom: 43px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 379px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0 50px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -33px 231px 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 42px 680px 0 50px;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -217px 42px 60px 680px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 28px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 197px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 49px;
    margin-right: 492px;
    margin-left: 28px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -200px;
    margin-right: 28px;
    margin-left: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 313px;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: 536px;
    margin-top: -294px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: 496px;
    margin-top: 196px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 290px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -271px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin: 173px 22px 52px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 332px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -330px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin: 140px 0 39px;
  }
} .u-section-6 {
  background-image: linear-gradient(#cddeee, #f4fafa);
}

.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  width: 513px;
  margin: 25px auto 0;
}

.u-section-6 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  height: auto;
  margin: 8px auto 54px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-6 .u-image-1 {
  width: 320px;
  min-height: 388px;
  background-image: url("images/Diseosinttulo11.png");
  height: auto;
  margin: 7px auto 0 137px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-6 .u-image-2 {
  width: 301px;
  height: 353px;
  margin: 33px auto 0;
}

.u-section-6 .u-image-3 {
  width: 150px;
  height: 150px;
  margin: -142px auto 0 148px;
}

.u-section-6 .u-image-4 {
  width: 301px;
  height: 301px;
  margin: -351px auto 0;
}

.u-section-6 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 50px;
}

.u-section-6 .u-image-5 {
  width: 331px;
  height: 388px;
  margin: 64px auto 0;
}

.u-section-6 .u-image-6 {
  width: 331px;
  height: 217px;
  margin: -315px auto 0;
}

.u-section-6 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 50px;
}

.u-section-6 .u-image-7 {
  width: 331px;
  height: 388px;
  margin: 35px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 7px 50px;
}

.u-section-6 .u-image-8 {
  width: 295px;
  height: 397px;
  margin: 23px auto 0;
}

.u-section-6 .u-image-9 {
  width: 295px;
  height: 274px;
  margin: -343px auto 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 0 50px;
}

.u-section-6 .u-image-10 {
  width: 331px;
  height: 388px;
  margin: 46px auto 0;
}

.u-section-6 .u-image-11 {
  width: 331px;
  height: 163px;
  margin: -289px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
  padding: 12px;
}

.u-section-6 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-6 .u-slider-1 {
    margin-top: 17px;
  }

  .u-section-6 .u-image-1 {
    height: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: -141px;
  }

  .u-section-6 .u-image-6 {
    margin-top: -314px;
  }

  .u-section-6 .u-image-7 {
    margin-top: 0;
  }

  .u-section-6 .u-image-9 {
    height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-6 .u-text-1 {
    width: 513px;
    margin-top: 38px;
  }

  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-7 {
    width: 340px;
    height: 431px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 375px;
    margin-top: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-6 {
    width: 320px;
    height: 210px;
    margin-top: -310px;
  }

  .u-section-6 .u-image-7 {
    margin-top: -27px;
  }

  .u-section-6 .u-image-10 {
    width: 320px;
    height: 375px;
  }

  .u-section-6 .u-image-11 {
    width: 320px;
    height: 158px;
    margin-top: -276px;
  }

  .u-section-6 .u-carousel-control-1 {
    padding: 9px;
  }

  .u-section-6 .u-carousel-control-2 {
    padding: 9px;
  }
}