 .u-section-1 {
  background-image: linear-gradient(#0f4762, #cddeee);
  min-height: 50vw;
}

.u-section-1 .u-image-1 {
  width: 726px;
  height: 408px;
  margin: 150px auto 0 calc(((100% - 1140px) / 2) + 25px);
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  margin: -283px calc(((100% - 1140px) / 2) + -17px) 0 calc(((100% - 1140px) / 2) + 818px);
}

.u-section-1 .u-image-2 {
  width: 169px;
  height: 85px;
  margin: 95px calc(((100% - 1140px) / 2) + 68px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 869px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 288px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 339px;
    margin-top: -550px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    height: 84px;
    margin-top: 500px;
    margin-right: auto;
    margin-bottom: 43px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 946px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-top: 179px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 61px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 658px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
    margin-top: 45px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 16px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 745px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-top: 222px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 64px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1403px;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-2 .u-list-1 {
  width: 939px;
  margin: 40px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 265px;
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  grid-gap: 5px 5px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-icon-1 {
  width: 150px;
  height: 150px;
  margin: 9px auto 0;
  padding: 25px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 13px 21px 0 31px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-icon-2 {
  width: 150px;
  height: 150px;
  margin: 9px auto 0;
  padding: 25px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 13px 21px 0 31px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-icon-3 {
  width: 150px;
  height: 150px;
  margin: 9px auto 0;
  padding: 25px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 13px 21px 0 31px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-2 .u-icon-4 {
  width: 150px;
  height: 150px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 9px auto 0;
  padding: 25px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 13px 21px 0 31px;
}

.u-section-2 .u-image-1 {
  width: 250px;
  height: 490px;
  margin: 39px 75px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  margin: -479px auto 0 67px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 76px 382px 0 63px;
}

.u-section-2 .u-text-8 {
  font-size: 3rem;
  margin: 116px 552px 0 67px;
}

.u-section-2 .u-group-1 {
  background-image: none;
  width: 203px;
  min-height: 347px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: 63px auto 0 22px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 9px;
}

.u-section-2 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  margin: 35px 18px 0;
}

.u-section-2 .u-icon-5 {
  width: 141px;
  height: 141px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

.u-section-2 .u-group-3 {
  background-image: none;
  width: 203px;
  min-height: 347px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: -347px auto 0 247px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 9px;
}

.u-section-2 .u-group-4 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-icon-6 {
  width: 141px;
  height: 141px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

.u-section-2 .u-group-5 {
  background-image: none;
  width: 203px;
  min-height: 347px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: -347px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 9px;
}

.u-section-2 .u-group-6 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 18px;
}

.u-section-2 .u-icon-7 {
  width: 141px;
  height: 141px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

.u-section-2 .u-group-7 {
  background-image: none;
  width: 203px;
  min-height: 347px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: -347px 244px 0 auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 0 9px;
}

.u-section-2 .u-group-8 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
  height: auto;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 18px;
}

.u-section-2 .u-icon-8 {
  width: 141px;
  height: 141px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

.u-section-2 .u-group-9 {
  background-image: none;
  width: 203px;
  min-height: 347px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin: -347px 20px 59px auto;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 0 9px;
}

.u-section-2 .u-group-10 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 115px;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 18px 0;
}

.u-section-2 .u-icon-9 {
  width: 141px;
  height: 141px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 40px auto 0;
  padding: 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1886px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-text-2 {
    width: 142px;
  }

  .u-section-2 .u-text-3 {
    width: 142px;
  }

  .u-section-2 .u-text-4 {
    width: 142px;
  }

  .u-section-2 .u-text-5 {
    width: 142px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 38px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -478px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 104px;
    margin-right: 375px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 88px;
    margin-right: 419px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 355px;
    margin-top: 75px;
    margin-left: 50px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 122px;
    height: auto;
  }

  .u-section-2 .u-text-9 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 45px;
    margin-right: 25px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -344px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 38px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-group-5 {
    min-height: 360px;
    margin-top: -357px;
    margin-right: 50px;
    height: auto;
  }

  .u-section-2 .u-group-6 {
    min-height: 125px;
    height: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: 25px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-group-7 {
    min-height: 360px;
    margin-top: 39px;
    margin-right: auto;
    margin-left: 203px;
    height: auto;
  }

  .u-section-2 .u-group-8 {
    min-height: 130px;
    height: auto;
  }

  .u-section-2 .u-text-12 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 45px;
  }

  .u-section-2 .u-group-9 {
    min-height: 360px;
    margin-top: -357px;
    margin-right: 225px;
    height: auto;
  }

  .u-section-2 .u-group-10 {
    min-height: 131px;
    height: auto;
  }

  .u-section-2 .u-text-13 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-icon-9 {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2126px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 419px;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-2 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 50px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 51px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: 565px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: 521px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 360px;
    margin-top: 57px;
    margin-left: 32px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 360px;
    margin-top: -360px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-4 {
    min-height: 122px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 30px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 37px;
  }

  .u-section-2 .u-group-5 {
    margin-top: -360px;
    margin-right: 21px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-7 {
    margin-top: 60px;
    margin-left: 132px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-9 {
    margin-top: -360px;
    margin-right: 157px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3671px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-7 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 40px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 25px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-2 .u-group-7 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-group-9 {
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-7 {
    width: 340px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-group-9 {
    margin-top: 20px;
    margin-bottom: 59px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 439px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 21px auto 0 29px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: -52px 74px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 35px 701px 0 29px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: -220px 21px 60px 701px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 53px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 33px;
    margin-right: 530px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 299px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 410px;
    margin-top: -328px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 418px;
    margin: 154px auto 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 338px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -359px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 187px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 48px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 341px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -339px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 149px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(#cddeee, #f4fafa);
}

.u-section-4 .u-sheet-1 {
  min-height: 593px;
}

.u-section-4 .u-text-1 {
  margin: 27px auto 0;
}

.u-section-4 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  height: auto;
  margin: 20px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-4 .u-image-1 {
  width: 320px;
  min-height: 388px;
  background-image: url("images/Diseosinttulo11.png");
  height: auto;
  margin: 0 auto 0 135px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-4 .u-image-2 {
  width: 301px;
  height: 353px;
  margin: 33px auto 0;
}

.u-section-4 .u-image-3 {
  width: 150px;
  height: 150px;
  margin: -142px auto 0 148px;
}

.u-section-4 .u-image-4 {
  width: 301px;
  height: 301px;
  margin: -351px auto 0;
}

.u-section-4 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 50px;
}

.u-section-4 .u-image-5 {
  width: 331px;
  height: 388px;
  margin: 64px auto 0;
}

.u-section-4 .u-image-6 {
  width: 331px;
  height: 217px;
  margin: -315px auto 0;
}

.u-section-4 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 50px;
}

.u-section-4 .u-image-7 {
  width: 331px;
  height: 388px;
  margin: 35px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 7px 50px;
}

.u-section-4 .u-image-8 {
  width: 295px;
  height: 397px;
  margin: 23px auto 0;
}

.u-section-4 .u-image-9 {
  width: 295px;
  height: 274px;
  margin: -343px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 50px;
}

.u-section-4 .u-image-10 {
  width: 331px;
  height: 388px;
  margin: 46px auto 0;
}

.u-section-4 .u-image-11 {
  width: 331px;
  height: 163px;
  margin: -289px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
  padding: 12px;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: 17px;
  }

  .u-section-4 .u-image-1 {
    height: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: -141px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -314px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 0;
  }

  .u-section-4 .u-image-9 {
    height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-4 .u-text-1 {
    width: 513px;
    margin-top: 38px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-7 {
    width: 340px;
    height: 431px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 375px;
    margin-top: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-6 {
    width: 320px;
    height: 210px;
    margin-top: -310px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -27px;
  }

  .u-section-4 .u-image-10 {
    width: 320px;
    height: 375px;
  }

  .u-section-4 .u-image-11 {
    width: 320px;
    height: 158px;
    margin-top: -276px;
  }

  .u-section-4 .u-carousel-control-1 {
    padding: 9px;
  }

  .u-section-4 .u-carousel-control-2 {
    padding: 9px;
  }
}